@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  
  @apply h-dvh overflow-hidden;
  /* @apply hidden 2xl:block; */
}

/* wrap images in portabletext - various size, various ratio */
.image-container {
  @apply relative w-full;

  > span {
    position: unset !important;
  }

  img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
/* / wrap images in portabletext - various size, various ratio */

.content-block {
  .image {
    @apply w-1/2;
  }
}

/* react-pdf */
.page-container {
  @apply flex absolute transition duration-500 h-full w-1/2;

  &.previous {
    @apply right-full;
  }
  &.current {
    @apply left-0;
  }
  &.next {
    @apply left-full;
  }
  .react-pdf__Page {
    @apply !bg-black flex items-center !min-w-[unset] w-full;

    &.left {
      @apply justify-end;
    }
    &.right {
      @apply justify-start;
    }
    & > * {
      @apply !h-auto !w-full object-contain;
    }
  }
}

.nav-button {
  &:disabled {
    @apply hidden;
  }
}

.bookmark {
  .react-pdf__Outline {
    li {
      @apply border-b last:border-b-0 border-white py-4 first:pt-0 pl-[1.8rem] -indent-[1.2rem];
    } 
  }
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
  will-change: transform;
  height: 100%;
  width: 100%;
}
.transition-all {
  transition: transform 0.5s ease-in-out;
}
/* / react-pdf */

/* rpv */
.rpv-core__inner-page-container {
  /* @apply flex h-screen items-center justify-center relative; */
}

.rpv-core__inner-page {
  /* @apply !relative !translate-x-0 !translate-y-0; */
  @apply !bg-transparent flex !h-dvh items-center justify-center;

  &.rpv-core__inner-page--dual-even {
    @apply justify-end;
  }
  &.rpv-core__inner-page--dual-odd {
    @apply justify-start;
  }
}

.rpv-core__page-layer:after {
  box-shadow: none !important;
}

.rpv-bookmark__list {
  @apply flex flex-col gap-y-4;

  li {
    @apply border-b last:border-b-0 border-white pb-4;

    .rpv-bookmark__title {
      padding-left: 1.8em;
      text-indent: -1.2em;
    }
  }
}

.rpv-core__doc-loading {
  @apply !bg-transparent flex items-center justify-center text-white h-full w-full;

  .progress-bar {
    @apply flex items-center justify-center;
    
    .rpv-core__progress-bar {
      @apply w-full;

      .rpv-core__progress-bar-progress {
        @apply !bg-white h-[2px];
      }
    }
  }
}